<meta charset="utf-8">
<h1>
    Contacts
</h1>
<hr>
<table class="tableauDesContacts">
    <tr class="enteteTableau">
        <td>Prénom</td>
        <td>Nom</td>
        <td>Email</td>
        <td>Téléphone</td>
        <td>Consulter</td>
        <td>Modifier</td>
        <td>Supprimer</td>
    </tr>
    <tr></tr>
    <?php foreach ($this->collectionContact as $contact) : ?>
    <tr>
        <td>
            <?php echo $contact->getNom(); ?>
        </td>
        <td>
            <?php echo $contact->getPrenom(); ?>
        </td>
        <td>
            <?php echo $contact->getEmail(); ?>
        </td>
        <td>
            <?php echo $contact->getTelephone(); ?>
        </td>
        
        <td>                                                                                                         
            <a href="<?php echo $this->url('rContact-Gestion',array('action' => 'consulter','id'=> $contact->getId())); ?>" >
                <img alt=Consulter src="<?php ?>"</a>
        </td>
        <td>
            <a href="<?php echo $this->url('rContact-Gestion',array('action' => 'modifier','id'=> $contact->getId())); ?>" >
                <img alt=Modifier src="<?php ?>"</a>
        </td>
        <td>
            <a href="<?php echo $this->url('rContact-Gestion',array('action' => 'supprimer','id'=> $contact->getId())); ?>" >
                <img alt=Supprimer src="<?php ?>"</a>
        </td>
    </tr>
    <?php endforeach; ?>
</table>
<hr>
<p>
    <a href="<?php echo $this->url('rContact-Gestion', array('action' => 'ajouter')); ?>">Ajouter un contact</a>
    <a href="<?php echo $this->url('rContact-Gestion', array('action' => 'rechercher')); ?>">Rechercher un contact</a>
</p>